@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:400,400i,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1vw;
  line-height: 1.05;
  background-color: black;
  margin: 0 0 50px;
}

a {
  text-decoration: none;
  color: inherit;
}

.main-title {
  width: 100%;
  text-align: center;
  font-size: 7rem;
  line-height: 1.2;
  background-color: white;
  margin-bottom: 0.5%;
}

.page {
  font-size: 1.25rem;

  .page-title {
    display: block;
    font-size: 4.75rem;
    line-height: 1.2;
    text-align: center;
    width: 90%;
    border-radius: 20px;
    margin: auto auto 2%;
    color: white;
    cursor: pointer;
    filter: invert(0);
    transition: 0.2s;
    background-color: black;

    &:hover {
      filter: invert(1);
    }
  }

  .page-body {
    width : 90%;
    margin: auto;
    background-color: white;
    border-radius: 30px;
    padding: 50px;
    box-sizing: border-box;
  }
}

.header1 {
  font-size: 3.25rem;
  margin-bottom: 3%;
}

.header2 {
  font-size: 2rem;
  margin-top: 5%;
  margin-bottom: 2%;
}

.header3 {
  font-size: 1.5rem;
  margin-top: 5%;
  margin-bottom: 2%;
}

.description {
  margin-right: 10%;
  margin-left: 2%;
  width: 80%;
}

.serif {
  font-family: 'Ibarra Real Nova', serif;

  &.bold {
    font-weight: bold;
  }
}
